alias ls='ls --color=always'
alias diff='diff --color=always'
alias grep='grep --color=always'
alias xclip=xclip -selection clipboard
alias config='git --git-dir=$HOME/dotfiles --work-tree=$HOME'
alias sudo='sudo -E'
alias tty-clock='tty-clock -C 4 -cbs'
alias alacritty-t='alacritty --class "alacritty-t,alacritty-t" -o background_opacity=0'
alias startx='ssh-agent startx'
alias tlmgr='/usr/share/texmf-dist/scripts/texlive/tlmgr.pl --usermode'
