[Desktop Entry]
Exec=/usr/bin/Telegram %u
Terminal=false
Type=Application
Icon=org.telegram.dekstop
StartupWMClass=telegram
DBusActivatable=false
Name=Telegram
